.intro-left-side {
    padding-top: 160px;
}

.intro-left-side h6 {
    color: #3A68B8;
}

.intro-left-side p {
    color: #fff;
}



.introduction-section {
    padding: 20px 307px;
}

@media(max-width:1330px) {
    .introduction-section {

        padding: 10px 80px;
    }
   
}
@media(max-width:768px) {
    .introduction-section {

        padding: 10px 40px;
    }
   
}

.yaziEffekti {
    font-size: 34px;
    color: #fff;
}